<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">User id: {{ item.userId }}</h5>
    <h6 class="card-title">id: {{ item.id }}</h6>
    <p class="card-text">Title: {{ item.title }}</p>
    <button
      class="btn btn-primary"
      (click)="onEditClick()"
      *ngIf="!item.statusIsEditing"
    >
      Edit
    </button>
    <button
      class="btn btn-warning"
      (click)="onCancelClick()"
      *ngIf="item.statusIsEditing"
    >
      Cancel
    </button>
    <button class="btn btn-danger ml-2" (click)="onDeleteClick()">
      Delete
    </button>
  </div>
</div>
